/* Import Font */
@import "@fontsource/inter"; /* Defaults to weight 400 */
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/800.css";

/* Import Custom Theme Variables */
@import "./theme/variables.css";

/* Modern Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Font and Colors are set in variables.css */
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
